.rsl-section {
    height: calc(100% - 95px)  !important;
}
.vlp-section {
    height: calc(100% - 95px)  !important;
}

.content-section {

    height: calc(100% - 60px)  !important;
}


@media (max-width: 576px) {

    .content-section {

        height: calc(100% - 160px)  !important;
    }

    .rsl-section {
        height: calc(100% - 60px)  !important;
    } 
    .vlp-section {
        height: calc(100% - 50px)  !important;
    }
    
}

.nav-pills .router-link-exact-active, .bg-dark-green, .btn-primary {
    background-color: rgb(5, 97, 139) !important;
}
.icon-xl {
    font-size: xx-large  !important;
    color: rgba(5, 97, 139, .9);
    cursor: pointer;
}
.nav-pills .nav-link {
    font-size: large !important;
}

.card {
    box-shadow: 0 0 8px rgba(33,33,33,.1); 
}

.h-screen {
    height: 100vh;
}

html, body {
    
    height: 100%;    
}

.scrollable {
    overflow-y: auto;
}